@import 'reset';
@import 'slider';
@import 'bootstrap';

body{
	font-family: 'Roboto', sans-serif;
	text-decoration: none;
	transition: .3s;
	-webkit-font-smoothing: antialiased;
}

a:hover{
	color: inherit;
}

$color-primary: #ff967e;
$color-secondary: #e9ccc5;
$color-clear: #edc6a8;
$black: #555;
$font-hand: 'playlistscript';


//Commons

.fake-select{
	position: relative;
	.placeholder{
		border-bottom: 1px solid #CCC;
		position: relative;
		cursor: pointer;

		&:after{
			content: '';
			width: 15px;
			height: 15px;
			background-image: url('../images/arrow.svg');
			position: absolute;
			background-size: contain;
			background-repeat: no-repeat;
			background-position: 0 5px;
			right: 0;
		}
	}

	.fake-select-content{
		background: #FFF;
		padding: 0px 0;
		border-radius: 0 0 5px 5px;
		display: none;
		position: absolute;
		top: 100%;
		width: 100%;
		z-index: 30;
		border: 1px solid #F7F7F7;

		max-height: 250px;
		overflow: auto;
	}
	.value{
		position: relative;
		padding: 0 10px;
		border-bottom: 1px solid #F7F7F7;
		padding-top: 10px;
		font-size: 14px;
		color: #333;

		&:last-child{
			border-bottom: 0;
		}
	}

	[type="checkbox"] {
		position: absolute;
		left: 0;
		opacity: 0.01;
	}

	[type="checkbox"] + label {
		position: relative;
		padding-left: 22px;
		line-height: 1.8;
		cursor: pointer;
	}

	[type="checkbox"]:not(:checked) + label::before,
	[type="checkbox"]:checked + label::before {
		content: '';
		position: absolute;
		left: 0;
		top: 3px;
		width: 16px;
		height: 16px;
		border: 1px solid #ddd;
		background: #FFF;
		border-radius: 50%;
		transition: all .275s;
	}

	/* Aspect de la coche */
	[type="checkbox"]:not(:checked) + label::after,
	[type="checkbox"]:checked + label::after {
		content: '';
		position: absolute;
		top: 6px;
		left: 3px;
		width: 10px;
		height: 10px;
		background: $color-primary;
		border-radius: 50%;
		line-height: 0;
		transition: all .2s; /* Petite transition */
	}

	/* Aspect non cochée */
	[type="checkbox"]:not(:checked) + label::after {
		opacity: 0;
		transform: scale(0);
	}

	/* Aspect cochée */
	[type="checkbox"]:checked + label::after {
		opacity: 1;
		transform: scale(1);
	}
}

.white{
	color: #FFF;

	p{
		color: #FFF;
	}
}

p{
	a{
		color: $color-primary;
		display: inline;

		&:hover{
			color: $color-primary;
			text-decoration: underline !important;
		}
	}
}


.title{
	font-size: 22px;
	font-weight: 400;
	margin-bottom: 12px;

	&.big{
		font-size: 48px;
	}

	h2, h1{
		font-size: 24px;
		font-weight: 600;
		margin-bottom: 0;
	}

}

p{
	line-height: 29px;
	color: $black;
	&.white{
		color: #FFF;
	}
}

.button{
	padding: 12px 40px;
	display: inline-block;
	font-weight: 600;
	font-size: 14px;
	box-shadow: none;
	border: 0;
	letter-spacing: .04em;

	&:hover{
		text-decoration: none;
	}

	&.primary{
		background: $color-clear;
		color: #FFF;
		border-radius: 5px;
		transition: .3s;

		&:hover{
			background: rgba($color-clear, .6);
		}
	}

	&.black{
		background: #181818;
		color: #FFF;
	}
	&.blue{
		background: #2378cb;
		color: #FFF;
		transition: .3s;
		&:hover{
			background-color: #2065a8;
		}
	}

	&.border-white{
		border: 1px solid #FFF;
		color: #FFF;
	}
}

.marge-top{
	margin-top: 30px !important;
}
.marge-top-sup{
	margin-top: 60px;
}

.title-hand{
	font-family: $font-hand;
	color: $color-secondary;
	font-size: 92px;
	line-height: 103px;
	margin-top: 30px;
}

.link{
	color: $color-primary;

	&:hover{
		color: $color-primary;
	}
}

// Components
.teacher{
	display: block;
	img{
		display: block;
		max-width: 100%;
	}
	.image{
		position: relative;
		margin-bottom: 15px;

		.info-sup{
			position: absolute;
			bottom: 0;
			padding-bottom: 15px;
			padding-top: 90px;
			width: 100%;
			opacity: 0;
			background: -moz-linear-gradient(top, rgba(0,0,0,0) 0%, rgba(0,0,0,0.8) 100%); /* FF3.6-15 */
			background: -webkit-linear-gradient(top, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* Chrome10-25,Safari5.1-6 */
			background: linear-gradient(to bottom, rgba(0,0,0,0) 0%,rgba(0,0,0,0.8) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
			filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#a6000000',GradientType=0 ); /* IE6-9 */
			transition: .4s;
			.criteria{
				margin-bottom: 10px;
				li{
					display: inline-block;
					background: $color-clear;
					font-size: 12px;
					margin-top: 5px;
					color: #FFF;
					font-weight: 500;
					border-radius: 5px;
					padding: 3px 7px;
				}
			}

			.recommendations{
				color: #FFF;
				margin-bottom: 2px;

				strong{
					color: $color-primary;
				}
			}

			.style{
				li{
					display: inline-block;
					border-bottom: 1px solid #FFF;
					color: #FFF;
					font-size: 14px;
					margin: 0 4px;
				}
			}
		}

		&:hover{
			.info-sup{
				opacity: 1;
			}
		}
	}

	.teacher-name{
		font-size: 22px;
		color: #333;
	}

	.teacher-description{
		font-size: 18px;
		font-weight: 400;
		color: $black;
	}
}

.push-blog{
	color: inherit;
	display: block;
	margin-bottom: 50px;
	text-align: center;

	img{
		max-width: 100%;
		transition: .6s;
	}

	.image{
		position: relative;
		overflow: hidden;
	}

	&:hover{
		.image{
			img{
				transform: scale(1.1);
			}
		}
	}

	.inner-push{
		background: #fff;
		width: calc(100% - 30px);
		margin-left: 15px;
		position: relative;
		top: -30px;
		padding: 30px;
		display: block;
		box-shadow: 0 0 20px rgba(#000, .2);
	}

	.category{
		color: $color-clear;
		font-size: 18px;
		font-style: italic;
		margin-bottom: 4px;
		margin-top: 15px;
	}

	.title{
		font-size: 22px;
		margin-bottom: 5px;
	}

	.description{
		color: #666;
	}
}

.slider{
	position: relative;
	overflow-y: visible;
	.slick-list{
		width: calc(100% + 30px);
		margin-left: -15px;
	}
	.slick-dots{
		position: absolute;
		top: -35px;
		right: 0px;
		width: auto;

		li{
			opacity: .4;
			width: 5px;
			height: 5px;
			&.slick-active{
				opacity: 1;
			}
		}
		button{
			background: $color-primary;
			width: 3px;
			height: 3px;
			border-radius: 50%;
			&:before{
				display: none;
			}
		}
	}

	.teacher{
		padding: 0 15px;
	}

	.slick-slide{
		outline: none;
	}
}

// Header
.header{
	border-top: 3px solid $color-clear;
	padding: 20px 5px;
	background: #FFF;

	.logo{
		font-family: $font-hand;
		color: #000;
		position: relative;
		top: 4px;
		font-size: 2.5rem;
	}

	.account-link{
		margin-left: 25px;
		font-size: 16px;
		color: $black;
		font-weight: 600;
		letter-spacing: .02em;
		svg{
			width: 18px;
			height: 18px;
			position: relative;
			top: -1px;
			margin-right: 5px;

			path{
				fill: $black !important;
			}
		}
	}

	.navigation{
		text-align: right;
		padding-top: 15px;
		display: inline-block;
		li{
			display: inline-block;
			padding-left: 25px;

			a{
				font-size: 16px;
				color: $black;
				font-weight: 400;
				letter-spacing: .02em;
				transition: .2s;
				&:hover{
					color: #222;
				}
			}

			&.current-menu-item{
				a{
					color: $color-primary;
					font-weight: 500;
				}
			}
		}
	}
}

.single-professeurs{
	.header{
		border-bottom: 1px solid #eee;
		margin-bottom: 30px;
	}
}

// Footer
.footer{
	background: $color-primary;
	padding: 60px 0;
	margin-top: 90px;

	.logo{
		color: #FFF;
		font-family: $font-hand;
		font-size: 32px;
	}

	.container-menu-footer{
		ul{
			li{
				a{
					display: block;
					color: #FFF;
					font-size: 15px;
				}

				&.current_page_item{
					a{
						font-weight: 600;
					}
				}
			}
		}
	}

	.label{
		color: #fff;
		font-weight: 500;
		font-size: 15px;
	}

	.social-list{
		margin-top: 10px;
		li{
			display: inline-block;
			margin: 0 7px;
			svg{
				height: 19px;
				fill: #FFF;
				opacity: .8;
				transition: .3s;
			}

			&:hover{
				svg{
					opacity: 1;
				}
			}
		}
	}
}

.single-professeurs{
	.footer{
		margin-top: 0;
	}
}
.end-footer{
	text-align: center;
	background: $color-clear;
	color: #FFF;
	font-size: 13px;
	padding: 8px 0;
	font-weight: 500;
	a{
		color: #fff;
	}
}

// Homepage
.hero{
	overflow: hidden;
	object-fit: cover;
	width: 100%;
	position: relative;

	&:before{
		content: '';
		background: rgba(#000, 0.6);
		position: absolute;
		left: 0;
		right: 0;
		height: 100%;
		z-index: 1;
	}
	.background-strate{
		width: 100%;
		height: 100%;
		object-fit: cover;
		position: absolute;
	}

	.inner-hero{
		position: relative;
		z-index: 3;
		top: 0;
		padding: 150px 0;

		.sup-title{
			margin-bottom: 10px;
			font-size: 20px;
		}

		.title{
			margin-bottom: 10px;
			font-weight: 300;
			letter-spacing: -0.05em;
		}

		.button{
			margin-top: 30px;
		}
	}
}

// Professeurs
.container-filters{
	//border: 1px solid #ddd;
	padding: 60px 30px;
	margin-top: 30px;
	border-radius: 15px;
	background: rgba($color-clear, .2);

	.label{
		font-size: 13px;
		color: #777;
	}

	.container-select{
		margin-bottom: 30px;
	}
}

.select-filter{
	border: 0;
	width: 100%;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
	background: transparent;
	background-image: url('../images/arrow.svg');
	background-size: 15px;
	background-repeat: no-repeat;
	background-position: right 3px;
	padding-right: 15px;
	outline: none;
	border-bottom: 1px solid #ccc;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	border-radius: 0;
	padding-bottom: 5px;
}

.list-push{
	.teacher{
		margin-bottom: 30px;
	}
}


// Single professeur

.link-back{
	margin-bottom: 30px;
	display: block;
	position: relative;
	color: $black;
	transition: .3s;
	font-size: 14px;
	font-weight: 500;
	&:hover{
		color: $color-primary;
	}
	&:before{
		content: '';
		width: 13px;
		height: 11px;
		background-image: url('../images/chevron.svg');
		background-repeat: no-repeat;
		background-size: contain;
		display: inline-block;
	}
}

.title{
	&.sub-title-prof{
		margin-top: -30px;
	}
}

.teacher-infos-single{
	margin-top: 30px;

	.response{
		color: #444;
	}
	li{
		margin-bottom: 10px;
		font-size: 15px;
		.label{
			font-weight: 500;
		}

		.attributs{
			li{
				display: inline-block;
				background: rgba($color-clear, .4);
				padding: 4px 14px;
				font-size: 12px;
				margin: 4px 8px 4px 0;
				border-radius: 3px;
				font-weight: 500;

				strong{
					color: $color-primary;
					font-weight: 600;
				}
			}
		}
	}
}

.strate-video-prof{
	overflow: hidden;
	position: relative;
	padding: 40px 0 60px;
	margin: 100px 0 0;
	&-background{
		position: absolute;
		width: 100%;
		height: 100%;
		object-fit: cover;
		top: 0;
	}
	&-container{
		position: relative;
		z-index: 3;
		color: #FFF;
		.title-hand{
			color: #FFF;
			margin-top: 0;
		}
	}

	&:after{
		content: '';
		position: absolute;
		width: 100%;
		top: 0;
		height: 100%;
		background: rgba(#222, .9);
	}
}

.strate-text-background{
	background-color: rgba($color-clear, .3);
	padding: 60px;
}


.navigation-calendar{
	.button{
		margin: 0 7px;
		opacity: .6;

		&.active{
			opacity: 1;
		}
	}
}



.strate-citation{
	background: $color-clear;
	padding: 120px 0 100px;
	margin-top: 50px;

	.citation{
		font-size: 47px;
		color: #FFF;
		position: relative;
		font-weight: 300;
		line-height: 52px;

		&:before, &:after{
			content: '’’';
			font-size: 90px;
			position: absolute;
			height: 0px;
		}

		&:before{
			margin-left: -40px;
			transform: rotate(180deg);
			top: 0;
		}

		&:after{
			bottom: 0;
			margin-left: 15px;
		}

	}

	.author{
		color: #FFF;
		margin-top: 30px;
		font-size: 28px;
		font-weight: 500;
		font-family: $font-hand;
	}
}


.calendar-dates{
	width: 100%;
	margin-top: 30px;
	margin-bottom: 30px;
	.hidde{
		display: none;
	}

	tr{
		border-bottom: 1px solid #eee;

		td{
			padding: 15px 0;
		}

		th{
			font-size: 18px;
			font-weight: 400;
			padding: 15px 0;
		}
	}

	tbody{
		tr{
			td{
				font-size: 14px;
			}
		}
	}
}

.moreCalendar{
	margin-bottom: 30px;
	display: inline-block;
	&.hidde{
		display: none;
	}
}

.strate-recommandations{
	//background: rgba($color-clear, .1);
	color: $black;
	margin-bottom: 30px;

	.recommendations-number{
		font-size: 25px;
		strong{
			color: $color-primary;
		}
	}

	.item-recommandation{
		margin: 30px 0;
		border-bottom: 1px solid #cdcdcd;
		padding-bottom: 30px;

		&:last-child{
			border-bottom: 0;
		}

		.name-recommandation{
			font-size: 22px;
			margin-bottom: 0px;
		}
		.date-recommandation{
			font-size: 13px;
			color: #888;
			font-weight: 400;
			margin-bottom: 5px;
		}
		.status-recommandation{
			font-weight: 500;
			font-size: 18px;
		}
		.domaines-recommandation{
			color: #888;
			font-size: 13px;
			font-weight: 400;
			margin-bottom: 5px;
		}

		.message-recommandation{
			margin-top: 15px;
		}
	}
}

.strate-add-recommendation{
	background: rgba($color-clear, .1);
	padding: 1px 0 100px;

	.label{
		color: #555;
	}

	.sub-label{
		font-size: 18px;
		color: #000;
	}

	.message{
		margin-top: 20px;
	}

	textarea{
		width: 100%;
		resize: none;
		border: 0;
		background: transparent;
		border-bottom: 1px solid #CCC;
		height: 100px;
		margin-top: 20px;
		font-size: 16px;
		outline: none;
	}

	.submit-recommandation{
		width: auto;
		padding: 12px 40px;
		display: inline-block;
		font-weight: 600;
		font-size: 14px !important;
		letter-spacing: .04em;
		margin-top: 30px;
	}

	.container-select{
		margin-bottom: 20px;
		.select-filter{
			font-size: 18px;
		}

		&.require{
			select{
				border-bottom: 1px solid $color-primary;
			}

			&:after{
				content: 'Ce champs est requis';
				font-size: 12px;
				color: $color-primary;
			}
		}
	}

	.domaine-checkbox{
		display: inline-block;
		margin-top: 10px;
		input[type="checkbox"] {
			height: 0;
			width: 0;
			opacity: 0;
		}

		label{
			margin: 0 10px 5px 0;
			cursor: pointer;
			border: 1px solid #eee;
			padding: 4px 15px;
			font-size: 18px;
			color: #666;
			border-radius: 5px;

			&.active{
				background: rgba($color-primary, 1);
				border: 1px solid rgba($color-primary, 1);
				color: #fff;
			}
		}
	}
}

// Account

.woocommerce-MyAccount-content{
	min-height: 60vh;
	padding: 0 30px;
}

.container-register, .lost_reset_password{
	min-height: 60vh;
	margin-top: 60px;
}

.lost_reset_password{
	margin-left: auto;
	margin-right: auto;
}

.woocommerce form.register{
	background: #F7F7F7;
	border: 0 !important;
	padding-bottom: 40px !important;
}

.woocommerce-lost-password{
	.woocommerce{
		margin: 0 auto;
	}
}

.title-nav-account{
	font-size: 22px;
	border-bottom: 1px solid rgba(#000, .1);
	padding-bottom: 10px;
	margin-bottom: 20px;
}

.title-account{
	font-size: 30px;
	border-bottom: 1px solid rgba(#000, .1);
	padding-bottom: 10px;
	padding-top: 30px;
}

.woocommerce-MyAccount-navigation{
	font-size: 17px;
	background: rgba($color-clear, .2);
	padding: 30px;
	line-height: 28px;
	font-weight: 500;

	ul{
		margin-bottom: 0;
		li{

			&.is-active{
				a{
					color: $color-primary;
					font-weight: 500;
				}
			}
			a{
				color: #666;
				font-weight: 400;
			}
		}
	}
}


.woocommerce-EditAccountForm.edit-account{
	input{
		width: 100%;
	}

	.reset-password{
		margin-top: 30px;

		label{
			width: 100%;
			display: block;
		}
	}


}

.woocommerce form .form-row label{
	margin-bottom: 0;
}

.woocommerce form{
	input{
		border-radius: 5px;
		padding: 10px;
		border: 1px solid rgba(#000, .2);
	}
}

.woocommerce form .form-row .required{
	color: $color-primary !important;
}

.woocommerce #respond input#submit, .woocommerce a.button, .woocommerce button.button, .woocommerce input.button{
	background-color: $color-clear !important;
	color: #FFF !important;
	border-radius: 5px !important;;
	transition: .3s !important;
	padding: 18px 40px !important;
	display: inline-block !important;
	font-weight: 600 !important;
	font-size: 14px !important;
	letter-spacing: .04em !important;
}


.woocommerce-notices-wrapper{
	.woocommerce-message{
		border-color: $color-primary;

		&:before{
			color: $color-primary;
		}
	}
}

#customer_login{
	.password-input{
		width: 100%;
	}

	.woocommerce-form-login__rememberme{
		display: block;
		width: 100%;
		margin-bottom: 5px;
	}
}


.woocommerce form.checkout_coupon, .woocommerce form.login, .woocommerce form.register{
	margin: 0 !important;
}


#customer_login, #customer_register{
	margin-top: 40px;
	h2{
		font-size: 22px;
		font-weight: 400;
		margin-bottom: 12px;
	}
}


// Notre concept

.container-grey{
	background: #f7f7f7;
	padding: 60px 0;
	margin: 30px 0;

	.img-strate{
		width: 100%;
	}

	ul{
		li{
			display: block;
			margin-bottom: 20px;
			position: relative;
			padding-left: 15px;
			line-height: 29px;
			&:before{
				content: '';
				display: inline-block;
				width: 7px;
				height: 7px;
				background: rgba(#000, .6);
				border-radius: 50%;
				position: absolute;
				top: 15px;
				left: 0;
			}
		}
	}
}


.card-step{
	background: #f7f7f7;
	text-align: center;
	padding: 30px;
	border-radius: 10px;
	position: relative;
	margin-top: 30px;

	&:after{
		content: '';
		width: 20px;
		height: 1px;
		background: rgba(#777, .3);
		position: absolute;
		top: 110px;
		left: calc(100% + 5px);
	}

	&.last{
		&:after{
			display: none;
		}
	}
	.number{
		background: #eabe9e;
		display: inline-block;
		width: 45px;
		height: 45px;
		line-height: 45px;
		border-radius: 50%;
		color: #FFF;
		font-weight: 500;
		font-size: 18px;
	}

	.title-card{
		font-size: 18px;
		font-weight: 500;
		margin-top: 17px;
		margin-bottom: 17px;
	}

	.icon{
		width: 30px;
		margin: 0 auto;
		svg{
			width: 100%;
			display: inline-block;
		}
	}
}


// Single


.strate{
	margin-top: 90px;

	img{
		max-width: 100%;
	}

	ul{
		li{
			color: #7a7a7a;
			&:before{
				content: '';
				width: 4px;
				height: 4px;
				background: #7a7a7a;
				border-radius: 50%;
				margin-right: 6px;
				vertical-align: middle;
				display: inline-block;
			}
		}
	}

	iframe{
		margin-top: 20px;
		width: 100%;
	}

	h2{
		font-size: 33px;
		font-weight: 800;
		letter-spacing: .06em;
		text-transform: uppercase;
		line-height: 35px;
		margin-bottom: 10px;
	}

	h3{
		font-size: 24px;
		font-weight: 800;
		letter-spacing: .06em;
		text-transform: uppercase;
		line-height: 27px;
		margin-top: 30px;
	}
	a{
		color: #666;
		text-decoration: underline;
		font-weight: 600;
	}
	.text-content{
		.title-big{
			margin-bottom: 10px;
		}
	}
}

.image-center{
	img{
		width: 100%;
	}
}

.strate-images-textes{
	.text-content{
		padding: 0 40px 60px 0;
	}

	.image-1{
		width: 80%;
		margin-left: auto;
		display: block;
	}
	.image-2{
		margin-left: auto;
		transform: translateX(50%);
		width: 80%;
		display: block;
		z-index: 3;
		position: relative;
	}
}

.strate-image-text{
	.text-content{
		//padding: 30px;
	}
}

.container-strates{
	padding-bottom: 90px;
}
